.generic-widget-container{
	/* note: Page Builder CSS will NOT override main css */
	 
	 
}
.generic-widget-container   h1{
	/* note: Page Builder CSS will NOT override main css */
	   color:#000;
}
.generic-widget-container   h2{
	/* note: Page Builder CSS will NOT override main css */
	  color:#000;
}
.generic-widget-container   h3{
	/* note: Page Builder CSS will NOT override main css */
	   color:#000;
}